header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 99;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);

    nav {
        margin-right: var(--spacing-XXL);
        display: flex;

    }

    img {
        margin-left: var(--spacing-XXL);
        height: var(--spacing-XL);
    }

    a {
        margin-left: var(--spacing-XL);
        text-decoration: none;
        color: var(--black-color);
        padding:4px 0px;
        border-bottom: solid transparent 4px;
        &:hover {
            border-bottom: solid var(--black-color) 4px;
        }
    }

}