<footer>
    <div class="footer-wrap">
        <div class="footer-links">
            <a routerLink="/imprint">Imprint</a>
            <div>|</div>
            <a routerLink="/data-protection">Data protection</a>
        </div>
        <div class="footer-pics">
            <a href="https://github.com/AndreHehn" target="_blank"><img src="assets/img/github-fill.png"></a>
            <a href="https://www.linkedin.com/in/andr%C3%A9-hehn-658243243/" target="_blank"><img src="assets/img/linkedin-box-fill.png"></a>
            <a href="#" target="_blank"><img src="assets/img/xing-fill.png"></a>
        </div>
    </div>
</footer>