.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(1920px - (var(--spacing-XXL) * 4));
    height: calc(100vh - (var(--spacing-XL) + var(--spacing-XS)) - var(--spacing-L) * 2 - 52px);
    padding-top: var(--spacing-L);
    padding-bottom: var(--spacing-L);
}

.about-left {
    min-height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;

    img {
        object-fit: contain;
        height: calc(100vh - (var(--spacing-XL) + var(--spacing-XS)) - var(--spacing-L) * 4 - 52px);
        max-width: 100%;
    }
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    min-height: 100%;
    text-align: justify;
    p {
        margin-top: 0;
        max-width: 80%;
    }


}









@media only screen and (max-width: 1430px) {
    .about {
        width: 100%;
    }

    .about-left {
        padding-left: var(--spacing-L);
    }

    .about-right {
        padding-right: var(--spacing-L);
    }
}

@media only screen and (max-width: 1125px) {

    .about {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .about-left {

        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: var(--spacing-L);
        padding-right: var(--spacing-L);

        img {
            height: auto;
        }
    }

    .about-right {
        padding-right: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
    }

}