<div class="aboutme-wrapper">
    <div class="spacing-href" id="aboutme"></div>
    <div class="headline">
        <h2>About me</h2>
    </div>
    <div class="grey-wrapper">
        <div class="about">
            <div class="about-left"><img src="assets/img/profile.jpg"></div>
            <div class="about-right">

                <p>
                    I have been interested in computers since my youth. I created my first website back then.
                    During my vocational training, I learned to program CNC machines and robots. I have always seen
                    these things as a hobby or a nice thing to do at work.<br>
                    As I learned to love the programming part and I enjoyed it even more than working with the machine
                    hardware, I decided to amplify my software skills. Programming gives me joy as I love to combine
                    computer work and problem solving. Thus, I decided to gain practical experience and build real
                    projects while learning web development in a professional environment.<br>
                    I am excited about building on my experience and starting my career in IT in a junior
                    developer position.
                </p>
            </div>
        </div>
    </div>