<div class="aboutme-wrapper">
    <div class="spacing-href" id="aboutme"></div>

    <div class="grey-wrapper about">
        <div class="about-left"><img src="assets/img/matrix.jpg"></div>
        <div class="about-right">
            <h2>About me</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia minus impedit porro minima facilis
                natus ducimus sed quia, corporis amet animi possimus dicta iste, eos voluptas ab quasi accusamus cumque.
            </p>
            <app-myskills></app-myskills>
        </div>
    </div>