<div class="aboutme-wrapper">
    <div class="spacing-href" id="aboutme"></div>
    <div class="headline">
        <h2>About me</h2>
    </div>
    <div class="grey-wrapper">
        <div class="about">
            <div class="about-left"><img src="assets/img/profile.jpg"></div>
            <div class="about-right">

                <p>
                    Since my youth, I've been interested in computers. During my vocational training, I learned
                    how to program CNC machines and robots. I've always seen these things as a hobby or a nice thing to have while at
                    work. But now, I want to devote myself entirely to it. So I decided to combine working on a computer
                    with solving problems. My journey to becoming a web developer began shortly after.
                </p>
            </div>
        </div>
    </div>