<div class="spacing-href" id="contactme"></div>
<div class="contact-wrap">
    <div class="headline">
        <h2>Contact me</h2>
        <div class="textwrap">
            <p>Get in contact via the form below, or by emailing <a
                    href="mailto:hello@andrehehn.de">hello@andrehehn.de</a></p>
        </div>
    </div>
    <div class="contact">

        <form target="_blank" class="contact_form" action="https://usebasin.com/f/8180110c075c" method="POST">
            <div>
                <label for="name">Name</label><br>
                <input required class="input-name" [(ngModel)]="name" type="text" name="name">
            </div>
            <div class ="mail-wrap">
                <label for="mail">Email address</label><br>
                <input required class="input-name"
                    [class.error]="( !(mail.includes('.') && mail.includes('@'))) && mail.length>0" [(ngModel)]="mail"
                    type="email" name="mail">
                <img *ngIf="( !(mail.includes('.') && mail.includes('@'))) && mail.length>0"
                    src="assets/img/warning.png" class="warning">
            </div>
            <div>
                <label for="message">Message</label><br>
                <textarea required class="textarea" [(ngModel)]="text" name="message" pattern=""></textarea>
            </div>
            <div class="button-wrap">
                <button
                    [disabled]="name.length == 0 || ( !(mail.includes('.') && mail.includes('@'))|| mail.length == 0) || text.length == 0"
                    class="button-primary" type="submit">Send mail</button>
            </div>
        </form>
    </div>
</div>

















<!--
    <form target="_blank" class="contact_form" action="https://usebasin.com/f/8180110c075c" method="POST">
        <div>
            <label for="name">name</label><br>
            <input required class="input-name" type="text" name="name">
        </div>
        <div>
            <label for="mail">email address</label><br>
            <input required class="input-name" type="email" name="email">
        </div>
        <div>
            <label for="message">message</label><br>
            <textarea required class="textarea" name="message" pattern=""></textarea>
        </div>
        <div class="button-wrap">
            <button class="button-primary" type="submit">send mail</button>
        </div>
    </form>
</div>

    php
-->