.contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textwrap {
    width: 100%;
    height: auto;
    text-align: center;
    padding-right: var(--spacing-XS);
    padding-left: var(--spacing-XS);
}
.contact-form {
    width: 100%;
}

.headline {
    width: 100%;
    margin-bottom: var(--spacing-XL);

    h2 {
        border: unset;
    }

    p {
        margin-top: -16px;
    }
}

label {
    font-weight: bold;
}

.input-name {
    margin-top: var(--spacing-XS);
    margin-bottom: var(--spacing-XS);
    padding-left: var(--spacing-XS);
    height: var(--spacing-L);
    width: calc((1920px - (var(--spacing-XXL) * 6)) / 2);
    background-color: var(--secondary-color);
    border: unset;
    outline: none;
    font-family: 'Karla', sans-serif;

    &:focus {
        border: solid 1px var(--action-color);
    }
}

.error {
    border-color: #ff6467 !important;



}

.mail-wrap {
    position: relative;

    .warning {
        position: absolute;
        height: 18px;
        width: auto;
        filter: invert(52%) sepia(16%) saturate(4380%) hue-rotate(321deg) brightness(106%) contrast(111%);
        top: 42px;
        right: 8px;
    }
}


textarea {
    padding-top: 8px;
    ;
    margin-top: var(--spacing-XS);
    margin-bottom: var(--spacing-XS);
    padding-left: var(--spacing-XS);
    height: var(--spacing-XXL);
    width: calc((1920px - (var(--spacing-XXL) * 6)) / 2);
    background-color: var(--secondary-color);
    border: unset;
    outline: none;
    font-family: 'Karla', sans-serif;
    resize: none;

    &:focus {
        border: solid 1px var(--action-color);
    }
}

.button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media only screen and (max-width: 708px) {


    textarea {
        width: 100%;


    }

    .input-name {
        width: 100%;

    }

    .contact {
        width: 100vw;
        max-width: 100%;
        padding-left: var(--spacing-L);
        padding-right: var(--spacing-L);


    }
}