<div  class="spacing-href" id="contactme"></div>
<div class="headline"><h2>contact me!</h2></div>

<div class="contact">

    <form class="contact_form" action="/send_mail.php" method="POST">
        <div>
        <input class="input_name"  name="name" placeholder="your name">
    </div>
    <div>
        <input class="input_name"  name="mail" placeholder="your email address">
    </div>
    <div>
        <textarea class="textarea" name="message" placeholder="Your message to me"></textarea>
    </div>
    <div>
        <button type="submit">Mail senden</button>
    </div>
    </form>
</div>
<!--

    php
-->