<div class="head-picture-wrapper">
    <img class="head-picture" src="assets/img/headpicture.jpg">
    <img class="transition-picture" src="assets/img/transition.png">
    <div class="i-am">
        <h1>I am André Hehn</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, enim perferendis voluptatibus porro fugit, ad
            ex sequi quod, reiciendis praesentium iure provident! Repellat tempora earum consectetur, deleniti ex ab
            nam?</p>
    </div>

</div>
<div class="link-wrap">
<a class="link link-arrowed" href="#mywork">
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <g fill="none" stroke="var(--primary-color)" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
            <circle class="arrow-icon-circle" cx="16" cy="16" r="15.12"></circle>
        </g>
    </svg>
<img class="arrow-down bounce" src ="assets/img/arrowdown.png">
</a>
</div>