<div class="head-picture-wrapper">
    <img class="head-picture" src="assets/img/headpicture.jpg">
    <img class="transition-picture" src="assets/img/transition.png">
    <div class="i-am">
        <h1>I am André Hehn</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, enim perferendis voluptatibus porro fugit, ad
            ex sequi quod, reiciendis praesentium iure provident! Repellat tempora earum consectetur, deleniti ex ab
            nam?</p>
    </div>
</div>