.head-picture-wrapper {
    position: relative;
}


.base {
    width: 100vw;
    max-width: 100%;
    z-index: 0;
    height: calc(100vh - (var(--nav-height)));
    background: url('/assets/img/header.jpg');
    background-size: cover;
    background-position: 38% -30px;
}

.transition-picture {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 35vh;
    z-index: 1;
    object-fit: fill;
}

.i-am {
    bottom: 25vh;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: 15vw;
    position: absolute;
    z-index: 3;

    width: calc(var(--spacing-XL) * 12);


    h1 {
        color: white;
        text-align: start;
        text-shadow: -1px 0 var(--black-color), 0 1px var(--black-color), 1px 0 var(--black-color), 0 -1px var(--black-color);
    }

    p {
        color: white;
        text-align: justify;
        text-shadow: -1px 0 var(--black-color), 0 1px var(--black-color), 1px 0 var(--black-color), 0 -1px var(--black-color);
    }
}



.link-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 87vh;
    z-index: 6;
}

.link {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
}

.link-arrowed {


    .arrow-icon {
        position: relative;
        top: 0px;
        margin-right: 0px;
        transition: transform 0.3s ease-in-out;
        height: 80px;
        width: 80px;
        width: 80px;
    }

    .arrow-down {
        height: var(--spacing-XL);
        width: auto;
        ;
        position: absolute;
        padding-left: calc((80px - var(--spacing-XL)) / 2);
        padding-right: calc((80px - var(--spacing-XL)) / 2);
        ;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        filter: invert(81%) sepia(24%) saturate(5077%) hue-rotate(181deg) brightness(99%) contrast(97%); // var(--action-color)

        &:hover {
            filter: invert(30%) sepia(79%) saturate(4596%) hue-rotate(214deg) brightness(105%) contrast(97%); //var(--primary-color)}
        }
    }

    .arrow-icon-circle {
        transition: stroke-dashoffset .3s ease-in-out;
        stroke-dasharray: 95;
        stroke-dashoffset: 95;
    }

    &:hover {
        .arrow-icon {
            transform: translate3d(0, 0, 0);
        }

        .arrow-icon-circle {
            stroke-dashoffset: 0;
        }

    }
}

.bounce {
    animation: bounce 2s infinite;

    &:hover {
        animation: bounce 1s 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-18px);
    }

    60% {
        transform: translateY(-9px);
    }
}



@media only screen and (max-width: 770px) {
    .i-am {
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }
}

@media only screen and (max-width: 630px) {

    .i-am {
        top: 44vh;
        z-index: 3;
        height: auto;
        width: 80%;

        h1 {
            font-size: 28px;
            color: var(--black-color);
            text-shadow: none;
        }

        p {
            color: var(--black-color);
            text-shadow: none;
        }
    }

    .transition-picture {
        height: 30vh;

    }

    .base {
        height: 60vh;
        background-position: 38% -10px;
    }

    .head-picture-wrapper {
        margin-bottom: 400px;
    }



}