<div class="head-picture-wrapper">
    <div id="headpicture" class="base"></div>
    <img class="transition-picture" src="assets/img/transition.png">
    <div class="header-wrap">
        <div class="i-am-wrap">
            <div class="i-am" data-aos="fade-down" data-aos-duration="1500">
                <h1>I am<br>André Hehn,</h1>
                <p>a passionate Frontend Developer with a background in mechanical engineering who loves pushing
                    boundaries and
                    learning new exciting things.</p>
            </div>
        </div>
    </div>

</div>
<div class="link-wrap">
    <a class="link link-arrowed" href="#mywork">
        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <g fill="none" stroke="var(--primary-color)" stroke-width="1.5" stroke-linejoin="round"
                stroke-miterlimit="10">
                <circle class="arrow-icon-circle" cx="16" cy="16" r="15.12"></circle>
            </g>
        </svg>
        <img class="arrow-down bounce" src="assets/img/arrowdown.png">
    </a>
</div>