<div class="spacing-href" id="myskills"></div>
<div class="grey-wrapper skills">
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="skills-div">

        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">Javascript</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">Angular</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">HTML</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">CSS</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">SCRUM</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">GIT</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">DESIGN THINKING</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">REST API</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">TEST AUTOMATION</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="#"></div>
            <div class="skill-rect">DATABASES</div>
        </div>
    </div>
</div>