.skill-wrapper {
    padding-top: (var(--spacing-L));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: calc(174px * 4);
    width: 100%;
    padding-bottom: (var(--spacing-L));
}


