.skill-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 695px;
    width:100%;
    padding-bottom: var(--spacing-L);
}