<div class="spacing-href" id="myskills"></div>
<div class="grey-wrapper skills">
    <div class="headline">
        <h2>My skills</h2>
    </div>
    <div class="skills-div">
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/javascript.png"></div>
            <div class="skill-rect">JAVASCRIPT</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/angular.png"></div>
            <div class="skill-rect">ANGULAR</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/HTML.png"></div>
            <div class="skill-rect">HTML</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/CSS.png"></div>
            <div class="skill-rect">CSS</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/SCRUM.png"></div>
            <div class="skill-rect">SCRUM</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/GITHUB.png"></div>
            <div class="skill-rect">GIT</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/DESIGN.png"></div>
            <div class="skill-rect">DESIGN THINKING</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/API.png"></div>
            <div class="skill-rect">REST API</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/Test.png"></div>
            <div class="skill-rect">TEST AUTOMATION</div>
        </div>
        <div class="skill-element">
            <div class="skil-circle"><img class="skill-image" src="assets/img/Database.png"></div>
            <div class="skill-rect">DATABASES</div>
        </div>
    </div>
</div>