<div class="grey-wrapper">
    <div class="work {{project.direction}}" data-aos="zoom-in">
        <div class="work-div work-pic-wrap">
            <div class="work-pic">
                <img src="assets/img/{{project.src}}">
            </div>
        </div>
        <div class="work-div work-text-wrap" data-aos="zoom-in">
            <div class="work-text">
                <h3>{{project.name}}</h3>
                <p>{{project.text}}</p>
                <div class="button-wrapper">
                    <a href="{{ project.github }}" target="_blank"><button class="button-alternative">Show code</button></a>
                    <a href="{{ project.link }}" target="_blank"><button class="button-primary">Try it out</button></a>
                </div>
            </div>
        </div>
    </div>
</div>