.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--spacing-XXL) * 3);
    width: calc(1920px - (var(--spacing-XXL) * 6));
}

.left {
    flex-direction: row;

    .work-text-wrap {
        justify-content: flex-end;
    }
}

.right {
    flex-direction: row-reverse;

    .work-pic-wrap {
        align-items: flex-end;
    }
}

.work-div {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    padding-top: var(--spacing-XL);
    padding-bottom: var(--spacing-XL);
}

.work-pic {
    img {
        height: calc((var(--spacing-XXL) * 3) - (var(--spacing-XL) * 2));
    }
}

.work-text-wrap {
    display: flex;
    flex-direction: row;
}

.work-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    height: 100%;
    width: calc((((var(--spacing-XXL) * 3) - (var(--spacing-XL) * 2))) / 9 * 13);

    p {
        margin-top: calc(var(--spacing-XL) * -1);
    }

    h3 {
        margin-top: 0;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-XS);
}


@media only screen and (max-width: 1146px) {
    .work {
        width: 100%;
        padding-left: var(--spacing-L);
        padding-right: var(--spacing-L);
    }
}

@media only screen and (max-width: 1125px) {
    .work {
        flex-direction: column;
        height: auto;
    }

    .button-wrapper {
        padding-bottom: 0;
    }

    .work-text {

        p {
            margin-top: var(--spacing-XS);
            margin-bottom: var(--spacing-XL);
        }
    }

    .work-pic {
        padding-bottom: 0;
    }

    .work-text-wrap {
        margin-top: 0;
        padding-top: 0;
    }
}

@media only screen and (max-width: 550px) {
    .work-text {
        width: 100%;
    }

    .work-pic {
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 340px) {
    .button-wrapper {
        flex-direction: column;
        gap: var(--spacing-XS);
    }
}