

:root {
  --primary-color: #126BFB;
  --hover-color: #0348B9;
  --disabled-color: #B4C8EA;
  --secondary-color: #EEF4FF;
  --action-color: #7BB9FA;
  --lightgrey-color: #F2F2F2;
  --grey-color: #5b5963;
  --black-color: #282828;
  --spacing-XS: 16px;
  --spacing-L: 32px;
  --spacing-XL: 46px;
  --spacing-XXL: 142px;
  --nav-height: 63px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  font-family: 'Karla', sans-serif;
  margin: 0;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
  margin-block-end: calc(0.83em - 6px);
  padding-bottom: 6px;
  border-bottom: solid var(--black-color) 4px;
}

h3 {
  font-size: 28px;
}

p {
  line-height: 36px;
  font-size: 18px;
}

.grey-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightgrey-color);
  margin-top: var(--spacing-XS);
  width: 100vw;
  max-width: 100%;
}

.spacing-href {
  height: var(--nav-height);
  display: block;
  margin-top: calc(var(--nav-height) * -1);
  visibility: hidden;
  pointer-events: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-alternative {
  font-size: 20px;
  background-color: white;
  color: var(--primary-color);
  border: unset;
  height: var(--spacing-XL);
  width: var(--spacing-XXL);
  border-radius: 4px;
  border: solid 1px var(--primary-color);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }

  &:disabled {
    color: var(--disabled-color);
    border-color: (--disabled-color);
  }
}

.button-primary {
  font-size: 20px;
  background-color: var(--primary-color);
  color: white;
  border: unset;
  height: var(--spacing-XL);
  width: var(--spacing-XXL);
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px var(--primary-color);

  &:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    border-color: var(--disabled-color);
  }
}


@media only screen and (max-width: 300px) {
  p{
    line-height: unset;
  }
}
