@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #126BFB;
    --secondary-color: #EEF4FF;
    --action-color: #7BB9FA;
    --lightgrey-color: #F2F2F2;
    --grey-color: #5b5963;
    --black-color: #282828;
    --spacing-XS: 16px;
    --spacing-L: 32px;
    --spacing-XL: 46px;
    --spacing-XXL: 142px;
    --nav-height: 62px;
}


body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    color: var(--black-color);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
    margin-block-end: calc(0.83em - 6px);
    padding-bottom: 6px;
    border-bottom: solid var(--black-color) 4px;
}

p {
    font-size: 18px;
}

.grey-wrapper {
    background-color: var(--lightgrey-color);
    margin-top: var(--spacing-L);
    padding: 0px var(--spacing-XXL);
}

.spacing-href {
    height: var(--nav-height);
    display: block;
    margin-top: calc(var(--nav-height) * -1);
    visibility: hidden;
    pointer-events: none;
}

.headline{
    display: flex;
    justify-content: center;
}