<div  class="spacing-href" id="mywork"></div>
<div class="headline"><h2>My work</h2></div>
<div class="grey-wrapper work">
    <div class="work-left">picture</div>
    <div class="work-right">text</div>
</div>
<div class="grey-wrapper work">
    <div class="work-left">text</div>
    <div class="work-right">picture</div>
</div>
<div class="grey-wrapper work">
    <div class="work-left">picture</div>
    <div class="work-right">text</div>
</div>
<div class="grey-wrapper work">
    <div class="work-left">text</div>
    <div class="work-right">picture</div>
</div>