<div class="spacing-href" id="mywork"></div>
<div class="headline">
    <h2>My work</h2>
</div>
<div class="grey-wrapper work">
    <div class="work-div work-pic"><img src="assets/img/pollo.png"></div>
    <div class="work-div work-text">
        <h3>EL POLLO LOCO</h3>
        <p>With this little jump'n'run game i learned object oriented programming.</p>
        <div class="button-wrapper">
            <button class="button-alternative">show code</button>
            <button class="button-primary">try out</button>
        </div>
    </div>
</div>
<div class="grey-wrapper work">
    <div class="work-div work-text">
        <h3>PORTFOLIO</h3>
        <p>This was my first angular project.</p>
        <p>It grew and improved while coding other projects.</p>
        <div class="button-wrapper">
            <button class="button-alternative">show code</button>
            <button class="button-primary">try out</button>
        </div>
    </div>
    <div class="work-div work-pic"><img src="assets/img/pollo.png"></div>
</div>
<div class="grey-wrapper work">
    <div class="work-div work-pic"><img src="assets/img/pollo.png"></div>
    <div class="work-div work-text">
        <h3>RING OF FIRE</h3>
        <p>While coding this popular drinking game, my skills working with angular improved.</p>
        <p>Especially creating animations and working with databases.</p>
        <p>In this case the firebase from google.</p>
        <div class="button-wrapper">
            <button class="button-alternative">show code</button>
            <button class="button-primary">try out</button>
        </div>
    </div>
</div>
<div class="grey-wrapper work">
    <div class="work-div work-text">
        <h3>CUSTOMER MANAGEMENT SYSTEM</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p> Culpa id ipsam voluptatibus odit a quidem natus qui! Beatae, </p>
        <p> suscipit libero tempore esse nam quidem, </p>
        <p> consectetur iste alias dolore ducimus commodi!</p>
        <div class="button-wrapper">
            <button class="button-alternative">show code</button>
            <button class="button-primary">try out</button>
        </div>
    </div>
    <div class="work-div work-pic"><img src="assets/img/pollo.png"></div>
</div>