.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--spacing-XXL) * 3);
}

.work-div {
    display: flex;
    flex-direction: column;
    width:50%;
    max-height: 100%;
    height: 100%;;
    padding-top: var(--spacing-XL);
    padding-bottom: var(--spacing-XL);
}
.work-pic{
align-items: flex-start;
justify-content: center;
}

.work-text{
align-items: center;
justify-content: flex-start;
}



img {
    max-width:100%;
height: calc((var(--spacing-XXL) * 3) - (var(--spacing-XL) * 2));
}